/********** OVERALLL *************/

p, h1, h2, h3, a, li, ul {
  /*color:#7A6E62;*/
  color:#2d4044;
  /*color:#a7a4a1;*/
  /*font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;*/
  font-family: 'Raleway', sans-serif;
}

.section-head {
  margin: 0 auto;
  text-align:center;
  font-size:1.5em;
}


body {
  margin:0;
  background-color:#fdfaf5;
}

/********** NAVIGATION SECTION *************/

.logo {
  width: 80px;
  border-radius:50%;
  border: 5px solid white;
  /*outline: 1px solid black;*/

}

nav {
  height: 50px;
}

nav ul { 
  list-style: none;
  margin: 0;
  padding:0;
  text-align:center;
}

nav li {
  display:inline-block;
  margin: 0 10px;
  padding: 5px 15px;

}

nav a {
  display:inline-block;
  text-decoration: none;
  font-size: 1.3em;
}

nav li:hover {
  border-bottom: 1px solid #f2675e;
}

nav a:hover {
  color: #f2675e;
}



/********** WELCOME SECTION *************/

.welcome {
  height: 300px;
  background-color: #CBDECB;
}

.welcome p {
  width: 50%;
  height: 30%;
  margin: 100px auto;
  font-size:2em;
  color:#2D4044;
  padding-top:50px;
}

.my-name {
  font-size:1.2em;
  font-weight:bold;
}

/********** PROJECT SECTION *************/

.projects {
  height: 400px;
}

.project-list {
  margin-left:20%;
}
.projects li {
  list-style:none;
  display: inline-block;
  margin: 2% 5%
}


#mainwrapper .box {  
  background-color:white;
  border: 5px solid #fff;  
  cursor: pointer;  
  height: 230px;  
  float: left;  
  margin-top: 30px;
  margin-left: 100px;  
  position: relative;  
  overflow: hidden;  
  width: 250px;  
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;  
  -moz-box-shadow: 1px 1px 1px 1px #ccc;  
  box-shadow: 1px 1px 1px 1px #ccc;  
}  

.box .subtitle {
  background-color:white;
  position:absolute;
  bottom:0;
  margin-bottom:0;
  width:250px;
  text-align:center;
  font-size:1.2em;
}

#mainwrapper .box img {
    width: 250px;
    height: 200px;  
    position: absolute;  
    left: 0;  
    -webkit-transition: all 300ms ease-out;  
    -moz-transition: all 300ms ease-out;  
    -o-transition: all 300ms ease-out;  
    -ms-transition: all 300ms ease-out;  
    transition: all 300ms ease-out;  
}  

#mainwrapper .box .caption {  
    background-color: black;  
    position: absolute;  
    color: #fff;  
    z-index: 100;  
    -webkit-transition: all 300ms ease-out;  
    -moz-transition: all 300ms ease-out;  
    -o-transition: all 300ms ease-out;  
    -ms-transition: all 300ms ease-out;  
    transition: all 300ms ease-out;  
    left: 0;  
}  

.caption p {
  margin:0;
  color:white;
}

.caption-features {
  padding:0;
}

.caption-features li {
  color:white;
}


#mainwrapper .box .fade-caption, #mainwrapper .box .scale-caption  {
  opacity: 0;
  width: 230px;
  height: 180px;
  text-align: left;
  padding: 10px;
}
/** Fade Caption :hover Behaviour **/
#mainwrapper .box:hover .fade-caption, #mainwrapper .box:hover .scale-caption  {
  opacity: 0.8;
}

.caption .live-link, .caption .github-link {
  color:white;
  text-decoration: none;
  padding: 2px 4px;
  margin:0 5px;
  background-color:#f2675e;
  border-radius:2px;
  opacity:1;
}

.live-link:hover, .github-link:hover {
  color:black;
  background-color:white;
}

/********** ABOUT SECTION *************/

.about {
  height:300px;
  background-color:#f2675e;
}
.about-wrap {
  height:200px;
  padding-top:50px;
}
.about_pic {
  height: 150px;
  width: 150px;
  border-radius:50%;
  border:5px solid white;
  margin-left: 20%;
  float:left;
}

.about-blurb {
  width:50%;
  float:left;
  margin-left: 2%;
}

.about-blurb h3 a, .about-blurb p {
  color:white;
}

.about-blurb h3 {
  font-size:1.3em;
}

/********** CONTACT SECTION *************/

.contact {
  height: 100px;
  /*background-color:#294357;*/
}

.contact-list {
  height: 100px;
  padding:0;
  list-style:none;
  text-align:center;
  margin-top: 50px;
}

.contact-list li {
  display:inline;
  margin: 0 10px;
  padding: 5px 15px;
}

.contact-list li a {
  height:500px;
  width:50px;
  padding: 10px;
}
.contact-list img {
  height:50px;
  width: 50px;
  
}

/********** RESUME SECTION *************/
.back-home {
  float:left;
  margin-left:15%;
  margin-top:2%;
}
.resume-container {
  width:50%;
  margin:0 auto;
}

.resume-name {
  font-size:2.5em;
  float: left;
}

.printer-friendly {
  float:right;
  margin: 30px 10px ;
}

.resume-contact {
  clear:both;
}
.resume-container a {
  text-decoration:none;
  color: #f2675e;
}

.exp-title, .exp-name {
  margin:0;
}

.exp-title {
  font-style:italic;
}

